 .file_button_container,
      .file_button_container input {
           background: transparent url(http://i.stack.imgur.com/BT5AB.png) left top no-repeat;
           height: 47px;
           width: 263px;
       }

       .file_button_container {
           background: transparent url(http://i.stack.imgur.com/BT5AB.png) left top no-repeat;
       }
    
       .file_button_container input {
           opacity: 0;
       }

       .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}