/*
    style
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic);

* {margin: 0; padding:0;}
html {
    background-color:#e5e5e5;
    font-family: 'Open Sans', sans-serif;
}

body {

    background-color:#e5e5e5;
    font-family: 'Open Sans', sans-serif;
}

#wrapper  {
   
    text-align: center;
    margin: auto;
    width: 60%;
    border:3px solid #8AC007;
    padding: 10px;
}



#sort {

    float: right;
}

#trash {

    float: right;
} 

.yeBoy {

    height: ;
}
#topArea {

    padding-top: 30px;
    width: 900px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

#uploadButton {

    float: left;
}

#search {
    margin:0 auto;
    width:40%;
    float: none;
}


.toTheRight {

    float: right;
}

.container {

    margin-top: 80px;
    width: 900px;
}

.wrapper {
    margin:0 auto;
    width:30%;
    margin-top:20px;
}
.white {
    margin:0 auto;
    text-align: center;
    padding:30px;
    margin-bottom:20px;
    background-color: #fff;
    border-radius:5px;
    box-shadow:1px 1px 1px rgba(0,0,0,0.1);

    color:#222;
}

.white h2 {
    margin-bottom:20px;
}


.white img {
    width:400px;

}

#pictureViewer {

    margin: 0 auto;
}

.img-responsive {

    margin-right: auto;
    margin-left: auto;
    
}

.visningsbilde {

    margin-right: auto;
    margin-left: auto;
    position: absolute;
    
}

#pictureInfo {

    text-align: center;
    vertical-align: bottom;
}


.viewerPic {
    height: 400px;
    background-color: gray;
}

.viewingPic {

    margin: 0 0 0 0;
    margin-left: 0px;
    margin-bottom: 0px;
}
#ViewerRow {


   
    
}
#toFrontPageButton {

    float: left;
}
#tilbakeBlokk{
    background-color: blue;
    opacity: 0;
     height: 500px;
}

#nesteBlokk{
    background-color: red;
    opacity: 0;
    height: 500px;
    }

#pictureViewerImg{
    padding-right: 0px;
    padding-left: 0px;
}

.selected {

    border: solid #80B2FF 2px;
    opacity: 0.6;
}

footer {

    margin-bottom: 250px;
}
